<%- include('header') -%>

<h1>Innskráning</h1>



<form method="post" action="/login" enctype="application/x-www-form-urlencoded">

    <div class="field<%= locals.isInvalid('username', errors) ?  ' field--invalid' : '' %>">
      <label for="username">Nafn*</label>
      <input type="text" name="username" id="username" value="" class="">
    </div>

    <div class="field<%= locals.isInvalid('password', errors) ?  ' field--invalid' : '' %>">
      <label for="password">Lykilorð*</label>
      <input type="text" name="password" id="password" value="" class="">
    </div>

    <button>Innskrá</button>
  </form>

<a href="/">Til baka</a>

<%- include('footer') -%>
