<%- include('header') -%>

<h1>Innskráning</h1>

<form method="post" action="/admin/login">

      <label class = "something">Nafn*
        <input type="text" name="username" id="username" class="something">
      </label>
      <label class = "something">Lykilorð*
        <input type="password" name="password" id="password" class="something">
      </label>
      <button>Innskrá</button>
  </form>

  <% if (message) { %>
    <div class="errors">
      <p><%= message %></p>
    </div>
  <% } %>
<a href="/">Til baka</a>


